.c-megamenu-radiators {
  @include mq($mobile-menu){
    background: #fff;
    box-shadow: 0 8px 20px -2px rgba(0,0,0,.16);
  }
}

.c-megamenu-radiators__container {

  @include mq($mobile-menu){
    padding: 0 40px;
  }
}

.c-megamenu-radiators__grid {

  @include mq($mobile-menu){
    display: flex;
    margin: 0 -40px;
  }
}

.c-megamenu-radiators__column {

  @include mq($mobile-menu){
    padding: 32px 40px 40px;
    width: 35%;
  }
}

.c-megamenu-radiators__column--wide {

  @include mq($mobile-menu){
    width: 65%;
  }
}

.c-megamenu-radiators__column--gray {
  background-color: #fff;
  margin: 0 -12px;
  @include mq($mobile-menu){
    margin: 0;
    background-color: palette(secondary, 150);
  }

  .c-mega-sub-menu{
    padding: 0px 12px 20px;
    @include mq($mobile-menu){
      padding: 0;
    }
  }
}


.c-sub-menus__grid{

  @include mq($mobile-menu){
    display: flex;
    margin: 0 -12px;
  }
}

.c-sub-menus__column{

  @include mq($mobile-menu){
    width: 33.33%;
    padding: 0 12px;
  }
}