.c-radio-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -4px;
  @include mq(768) {
    margin: -10px;
  }
}

.c-radio-grid__item {
  padding: 4px;
  @include mq(768) {
    padding: 10px;
  }
  .type-row & {
    width: 33.33%;
    @include mq(480) {
      width: auto;
    }
  }

  .features &, .height-row & {
    width: 25%;
    @include mq(480) {
      width: auto;
    }
  }

}

.c-radio {
  position: relative;
  width: 93px;
  height: 93px;

  @include mq(768) {
    width: 120px;
    height: 120px;
  }

  .type-row & {
    margin: 0 auto;
    @include mq(480) {
      margin: 0;
    }
  }

  .features &, .height-row & {
    width: 82px;
    height: 82px;
    @include mq(768) {
      width: 120px;
      height: 120px;
    }
  }
}

.c-radio__input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  &:disabled {
    cursor: not-allowed;
  }
}

.c-radio__knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.c-radio__knobs--number {
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font(s2-large, 32, 300);
    color: palette(oranges);

    @include mq(768) {
      @include font(l3-large, 46, 300);
    }
  }
}

.c-radio__input:checked + .c-radio__knobs {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}

.c-radio__input:disabled + .c-radio__knobs {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}

.c-radio__knobs--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-radio__title, .c-radio__desc {
  display: block;
  color: palette(text, 500);
  text-align: center;
}

.c-radio__icon {
  font-size: 50px;
  line-height: 1;
  color: palette(oranges);
  &:before {
    margin: 0;
    width: auto;
  }
  &.c-radio__icon--small {
    margin-bottom: 5px;
    @include mq($max: 768) {
      margin-bottom: 4px;
      font-size: 36px;
    }
  }
}

.c-radio__title {
  display: inline-block;
  padding: 0 3px;
  @include font(small, 14, 400);
  width: 100%;
  @include mq(768) {
    padding: 0;
    min-height: 38px;
  }
  &:not(.c-radio__title--lower) {
    min-height: auto;
    text-transform: uppercase;
    @include mq($max: 768) {
      @include font(m-small, 12, 400);
    }
  }

  @include mq(768) {
    @include font(base, 19, 400);
  }

}

.c-radio__title--lower{
  @include mq($max:768){
    min-height: 28px;
  }
}

.c-radio__desc {
  margin: 4px 0 8px;
  @include font(x1-small, 11, 400);

  @include mq(768) {
    margin: 4px 0 0;
    @include font(m4-small, 19, 400);
  }
}