/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */
/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
/* ==========================================================================
   Config settings
   ========================================================================== */
/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */
/**
 * Our base font-size and line-height
 */
/**
 *	Here we assign short names for the font families
 */
/* ==========================================================================
 * Font related functions
 * ========================================================================== */
/**
 *  Calculate line-height ratio from font-size and line-height in px value
 */
/**
 *  Mixin for setting font-size in REM through a Sass Map with all available sizes

    USAGE:

    .myClass {
        @include font-size(x-large);
    }

 */
/**
 *	A simple function for accessing the font families from our mapping

	USAGE:

	span {
		@include font-family(primary);
	}

 */
/**
 *  Font mixin for setting font-size, font-weight, and line-height

    USAGE:

    .myClass {
        @include font(x-large, 34, 500);
    }

    .myClass {
      @include font(medium, $weight: 300);
    }

 */
/* Media query mixin for writing Mobile First
 * ========================================== */
/** =====================================================================================
 *  Toolbox functions
 ===================================================================================== */
/**
 *  Maths helpers.
 *  Halve and double numbers, returning rounded integers.

    USAGE:

    .foo {
        padding: halve(30px);
    }

 */
/**
 *  Remove the unit of a length
 *  @param {Number} $number - Number to remove unit from
 *  @return {Number} - Unitless number
 */
/* Check if value is number */
/* Value to Em */
/* Value to Rem */
/**
 *	A simple function for accessing the colors from our mapping
 *	To access colors in our palette, we use a very simple custom Sass function

	USAGE:

	a {
		color: palette(primary);

		&:hover {
			color: palette(primary, 400);
		}
	}

 */
/**
 *	A simple function for setting a consistent box-shadow

	USAGE:

	.card {
		@include box-shadow();
	}

	.card--alt {
		@include box-shadow(low);
	}

 */
/**
 *	A simple function for setting a consistent border-radius

	USAGE:

	.card {
		@include border-radius;
	}

	.card--alt {
		@include border-radius(large);
	}

 */
/**
 * Lobotomized Owl Selector mixin:
 * - Set spacing for consecutive items with margin-top on all but the first item

	USAGE:

	.box {
		@include owl-children;
	}

	.card__item {
		@include owl;
	}

 */
/**
 *  Show hyphens for every browser supporting it
 *  and will break lines in every other browser
 */
/*
 *  Restrict an element to a max-width for creating gutters on the side
 */
.home .slider-3-image.swiper-custom {
  display: block; }

.swiper-custom {
  display: none; }
  @media screen and (min-width: 1400px) {
    .swiper-custom .swiper-slide:not(:last-child) .c-ksp-icon-list__box {
      position: relative; }
      .swiper-custom .swiper-slide:not(:last-child) .c-ksp-icon-list__box:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 32px;
        width: 1px;
        background-color: #D9D9D9; } }
  .swiper-custom.swiper-container-initialized {
    display: block; }

@media screen and (min-width: 1400px) {
  .slider-icon-list__wrap {
    transform: translate3d(0px, 0, 0) !important; }
  .slider-icon-list__pagination {
    display: none; } }

.c-ksp-icon-list__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }
  .c-ksp-icon-list--top .c-ksp-icon-list__box {
    padding: 8px 10px; }

.c-ksp-icon-list__icon {
  min-width: 44px;
  border-radius: 50%;
  overflow: hidden; }
  .c-ksp-icon-list__icon img {
    width: 44px;
    height: 44px !important;
    padding: 4px;
    background: #eaefd3; }
  .c-ksp-icon-list--top .c-ksp-icon-list__icon {
    min-width: 35px; }
    .c-ksp-icon-list--top .c-ksp-icon-list__icon img {
      width: 35px !important;
      height: 35px !important; }

.c-ksp-icon-list__content {
  margin-left: 9px; }

.c-ksp-icon-list__title {
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.28571;
  font-weight: 700;
  color: #525252; }

.hero-p:before {
  height: 32px !important; }

.hero-p {
  margin-bottom: 0 !important;
  position: relative;
  color: #525252;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px; }

@media screen and (min-width: 576px) {
  .hero-p {
    max-width: 85% !important; } }

#hp1:before {
  content: url("/wp-content/uploads/2019/03/icon1.svg");
  display: block; }

#hp2:before {
  content: url("/wp-content/uploads/2019/03/icon2.svg");
  display: block; }

#hp3:before {
  content: url("/wp-content/uploads/2019/03/icon3.svg");
  display: block; }

#hp4:before {
  content: url("/wp-content/uploads/2019/03/icon4.svg");
  display: block; }

.s-ksps {
  padding: 66px 0; }
  @media screen and (min-width: 576px) {
    .s-ksps {
      padding: 124px 0; } }

.s-ksps__slider__box {
  text-align: center; }

.s-ksps__slider__img {
  display: inline-block;
  margin-bottom: 26px; }
  .s-ksps__slider__img img {
    padding: 6px;
    background-color: #eaefd3;
    border-radius: 50%;
    width: 80px !important;
    height: 80px; }

@media screen and (min-width: 576px) {
  .s-ksps__slider__content {
    padding: 0 18px; } }

.s-ksps__slider__title {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 400;
  color: #333333; }
  .s-ksps__slider__title span {
    font-weight: 700; }

.s-ksps__slider__desc {
  max-width: 234px;
  margin: 0 auto;
  font-size: 0.875rem;
  line-height: 1.71429;
  font-weight: 400;
  color: #707070; }
  .s-ksps__slider__desc p {
    font-size: 0.875rem;
    line-height: 1.71429;
    font-weight: 400; }

.s-ksps .slick-slider .slick-dots {
  margin: 42px 0 0 0; }
  .s-ksps .slick-slider .slick-dots li button {
    width: 23px;
    height: 23px;
    border: 2px solid #6d6e71;
    background: transparent; }
  .s-ksps .slick-slider .slick-dots li.slick-active button {
    border-color: #B8D048;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24); }
  .s-ksps .slick-slider .slick-dots li:not(:last-child) {
    margin-right: 17px; }

@media screen and (min-width: 1400px) {
  .s-ksps__slider {
    transform: translate3d(0px, 0, 0) !important; } }
