/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */
/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
/* ==========================================================================
   Config settings
   ========================================================================== */
/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */
/**
 * Our base font-size and line-height
 */
/**
 *	Here we assign short names for the font families
 */
/* ==========================================================================
 * Font related functions
 * ========================================================================== */
/**
 *  Calculate line-height ratio from font-size and line-height in px value
 */
/**
 *  Mixin for setting font-size in REM through a Sass Map with all available sizes

    USAGE:

    .myClass {
        @include font-size(x-large);
    }

 */
/**
 *	A simple function for accessing the font families from our mapping

	USAGE:

	span {
		@include font-family(primary);
	}

 */
/**
 *  Font mixin for setting font-size, font-weight, and line-height

    USAGE:

    .myClass {
        @include font(x-large, 34, 500);
    }

    .myClass {
      @include font(medium, $weight: 300);
    }

 */
/* Media query mixin for writing Mobile First
 * ========================================== */
/** =====================================================================================
 *  Toolbox functions
 ===================================================================================== */
/**
 *  Maths helpers.
 *  Halve and double numbers, returning rounded integers.

    USAGE:

    .foo {
        padding: halve(30px);
    }

 */
/**
 *  Remove the unit of a length
 *  @param {Number} $number - Number to remove unit from
 *  @return {Number} - Unitless number
 */
/* Check if value is number */
/* Value to Em */
/* Value to Rem */
/**
 *	A simple function for accessing the colors from our mapping
 *	To access colors in our palette, we use a very simple custom Sass function

	USAGE:

	a {
		color: palette(primary);

		&:hover {
			color: palette(primary, 400);
		}
	}

 */
/**
 *	A simple function for setting a consistent box-shadow

	USAGE:

	.card {
		@include box-shadow();
	}

	.card--alt {
		@include box-shadow(low);
	}

 */
/**
 *	A simple function for setting a consistent border-radius

	USAGE:

	.card {
		@include border-radius;
	}

	.card--alt {
		@include border-radius(large);
	}

 */
/**
 * Lobotomized Owl Selector mixin:
 * - Set spacing for consecutive items with margin-top on all but the first item

	USAGE:

	.box {
		@include owl-children;
	}

	.card__item {
		@include owl;
	}

 */
/**
 *  Show hyphens for every browser supporting it
 *  and will break lines in every other browser
 */
/*
 *  Restrict an element to a max-width for creating gutters on the side
 */
.c-checkbox {
  position: relative;
  width: 148px;
  height: 33px;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .c-checkbox {
      width: 192px;
      height: 43px; } }

.c-checkbox__input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3; }

.c-checkbox__knobs, .c-checkbox__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.c-checkbox__layer {
  width: 100%;
  background-color: #FAE0AF;
  transition: 0.3s ease all;
  border-radius: 100px;
  z-index: 1; }

.c-checkbox__knobs {
  z-index: 2; }
  .c-checkbox__knobs span {
    position: absolute;
    top: 3px;
    width: calc(50% - 3px);
    height: calc(100% - 6px);
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 768px) {
      .c-checkbox__knobs span {
        top: 4px;
        width: calc(50% - 4px);
        height: calc(100% - 8px);
        font-size: 14px;
        line-height: 35px; } }
    .c-checkbox__knobs span:first-child {
      left: 3px;
      border-radius: 100px 0 0 100px;
      background-color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
      @media screen and (min-width: 768px) {
        .c-checkbox__knobs span:first-child {
          left: 4px; } }
    .c-checkbox__knobs span:last-child {
      border-radius: 0 100px 100px 0;
      right: 3px;
      background-color: transparent;
      box-shadow: none; }
      @media screen and (min-width: 768px) {
        .c-checkbox__knobs span:last-child {
          right: 4px; } }

.c-checkbox__input:checked + .c-checkbox__knobs span:first-child {
  background-color: transparent;
  box-shadow: none; }

.c-checkbox__input:checked + .c-checkbox__knobs span:last-child {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }

.c-radio-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -4px; }
  @media screen and (min-width: 768px) {
    .c-radio-grid {
      margin: -10px; } }

.c-radio-grid__item {
  padding: 4px; }
  @media screen and (min-width: 768px) {
    .c-radio-grid__item {
      padding: 10px; } }
  .type-row .c-radio-grid__item {
    width: 33.33%; }
    @media screen and (min-width: 480px) {
      .type-row .c-radio-grid__item {
        width: auto; } }
  .features .c-radio-grid__item, .height-row .c-radio-grid__item {
    width: 25%; }
    @media screen and (min-width: 480px) {
      .features .c-radio-grid__item, .height-row .c-radio-grid__item {
        width: auto; } }

.c-radio {
  position: relative;
  width: 93px;
  height: 93px; }
  @media screen and (min-width: 768px) {
    .c-radio {
      width: 120px;
      height: 120px; } }
  .type-row .c-radio {
    margin: 0 auto; }
    @media screen and (min-width: 480px) {
      .type-row .c-radio {
        margin: 0; } }
  .features .c-radio, .height-row .c-radio {
    width: 82px;
    height: 82px; }
    @media screen and (min-width: 768px) {
      .features .c-radio, .height-row .c-radio {
        width: 120px;
        height: 120px; } }

.c-radio__input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3; }
  .c-radio__input:disabled {
    cursor: not-allowed; }

.c-radio__knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out; }

.c-radio__knobs--number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8125rem;
  line-height: 1.10345;
  font-weight: 300;
  color: #FC9E4E; }
  @media screen and (min-width: 768px) {
    .c-radio__knobs--number span {
      font-size: 2.875rem;
      line-height: 1;
      font-weight: 300; } }

.c-radio__input:checked + .c-radio__knobs {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }

.c-radio__input:disabled + .c-radio__knobs {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none; }

.c-radio__knobs--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.c-radio__title, .c-radio__desc {
  display: block;
  color: #282828;
  text-align: center; }

.c-radio__icon {
  font-size: 50px;
  line-height: 1;
  color: #FC9E4E; }
  .c-radio__icon:before {
    margin: 0;
    width: auto; }
  .c-radio__icon.c-radio__icon--small {
    margin-bottom: 5px; }
    @media screen and (max-width: 767px) {
      .c-radio__icon.c-radio__icon--small {
        margin-bottom: 4px;
        font-size: 36px; } }

.c-radio__title {
  display: inline-block;
  padding: 0 3px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .c-radio__title {
      padding: 0;
      min-height: 38px; } }
  .c-radio__title:not(.c-radio__title--lower) {
    min-height: auto;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .c-radio__title:not(.c-radio__title--lower) {
        font-size: 0.625rem;
        line-height: 1.2;
        font-weight: 400; } }
  @media screen and (min-width: 768px) {
    .c-radio__title {
      font-size: 1rem;
      line-height: 1.1875;
      font-weight: 400; } }

@media screen and (max-width: 767px) {
  .c-radio__title--lower {
    min-height: 28px; } }

.c-radio__desc {
  margin: 4px 0 8px;
  font-size: 0.5625rem;
  line-height: 1.22222;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    .c-radio__desc {
      margin: 4px 0 0;
      font-size: 0.8125rem;
      line-height: 1.46154;
      font-weight: 400; } }

.s-product-calculator {
  padding: 60px 0;
  background-color: #f8f8f8; }
  .s-product-calculator #cvy_calculator_rows {
    margin-bottom: 24px; }

.s-product-calculator__title {
  margin-bottom: 20px;
  font-size: 1.875rem;
  line-height: 1.33333;
  font-weight: 400;
  text-align: center; }

.s-product-calculator__help {
  margin-top: 50px;
  padding: 0 15px;
  text-align: center;
  color: #333333; }
  .s-product-calculator__help h4 {
    font-size: 1.5rem;
    line-height: 1.66667;
    font-weight: 400; }
    @media screen and (min-width: 768px) {
      .s-product-calculator__help h4 {
        font-size: 1.875rem;
        line-height: 1.33333;
        font-weight: 400; } }
  .s-product-calculator__help p {
    font-size: 1.125rem;
    line-height: 1.66667;
    font-weight: 400; }

#cvy_radiator_variation_list_wrapper {
  color: #000; }
  #cvy_radiator_variation_list_wrapper .cvy_button.cvy_submit {
    border: 1px solid #b8d048; }
    #cvy_radiator_variation_list_wrapper .cvy_button.cvy_submit:hover {
      background: #222 !important;
      border-color: #222; }

.cvy_radiator_variation_list_footer .cvy_show_all_wrapper {
  display: none; }

.cvy_radiator_variation_list_footer .cvy_show_all_wrapper.cvy_visible {
  position: relative;
  display: block;
  margin: 30px 0 50px;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .cvy_radiator_variation_list_footer .cvy_show_all_wrapper.cvy_visible {
      margin: 30px 0 90px; } }

.cvy_radiator_variation_list_footer .cvy_show_all_wrapper:before,
.cvy_radiator_variation_list_footer .cvy_show_all_wrapper:after {
  /*  content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: calc(50% - 135px);
    height: 1px;
    background: #706F6F;*/ }

.cvy_radiator_variation_list_footer .cvy_show_all_wrapper:before {
  left: 0; }

.cvy_radiator_variation_list_footer .cvy_show_all_wrapper:after {
  right: 0; }

.cvy_radiator_variation_list_footer .cvy_show_all {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: #333333;
  border-bottom: 1px solid #333333; }

.cvy_radiator_variation_list_footer .cvy_show_all:after {
  content: '\f107';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700; }

#grouped-calculator {
  position: relative;
  z-index: 2; }

#grouped-calculator .a-center {
  text-align: center; }

.calculator-show {
  margin-bottom: 30px;
  padding: 8px 20px !important;
  border-radius: 4px;
  line-height: 1; }

.calculator-show i {
  padding-left: 20px;
  float: right; }

#radiator_calculator_form {
  position: relative; }

.close-calculator {
  position: absolute;
  right: 0;
  top: -80px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  background: url(../../img/close-btn.svg); }

#cvy_calculator_rows {
  margin-left: 0;
  padding: 0; }

#grouped-calculator .form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; }
  @media screen and (min-width: 768px) {
    #grouped-calculator .form-row {
      flex-direction: row; } }
  #grouped-calculator .form-row.type-row {
    margin-bottom: 66px; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .form-row.type-row {
        margin-bottom: 70px; } }
  @media screen and (min-width: 768px) {
    #grouped-calculator .form-row.form-row--block {
      display: block;
      text-align: center; }
      #grouped-calculator .form-row.form-row--block .submit-input {
        display: inline-block; } }

#grouped-calculator .form-row > label {
  -webkit-flex: 1;
  flex: 1;
  margin-bottom: 32px;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.09091;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    #grouped-calculator .form-row > label {
      font-size: 1.625rem;
      line-height: 1;
      font-weight: 400;
      text-align: left;
      margin-bottom: 0; } }

#grouped-calculator .form-row > .inputs {
  -webkit-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

#grouped-calculator .inputs-row {
  width: 100%;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    #grouped-calculator .inputs-row {
      justify-content: flex-start; } }

#grouped-calculator .input {
  position: relative; }

.inputs-row.cvy_1_field .input {
  width: 100%; }

.inputs-row.cvy_2_fields .input {
  width: 47.5%; }

#grouped-calculator .input.units {
  margin-bottom: 6px; }
  #grouped-calculator .input.units label {
    margin-bottom: 18px; }
  @media screen and (min-width: 768px) {
    #grouped-calculator .input.units {
      margin-bottom: 32px; } }

#grouped-calculator .area_formula {
  display: flex;
  align-items: center; }

#grouped-calculator .input.width,
#grouped-calculator .input.height,
#grouped-calculator .input.area {
  width: 100%;
  max-width: 120px;
  margin: 0 10px; }

#grouped-calculator .cvy_formula_sign {
  position: relative;
  bottom: -10px; }

#grouped-calculator select {
  background: url(../../img/chevron-down-solid.png) no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) center;
  -webkit-appearance: none;
  appearance: none !important; }

#grouped-calculator select::-ms-expand {
  display: none; }

#grouped-calculator input,
#grouped-calculator select {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  border: 1px solid #98999c;
  background-color: transparent;
  padding: .75em;
  max-width: 100%; }

#grouped-calculator .input-actions {
  position: absolute;
  right: 10px;
  bottom: 3px; }

#grouped-calculator .increase:after,
#grouped-calculator .decrease:after {
  display: block;
  color: #b3cf40;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  cursor: pointer; }

#grouped-calculator .increase:after {
  content: "\f106"; }

#grouped-calculator .decrease:after {
  content: "\f107"; }

#grouped-calculator .input input[type="number"]::-webkit-outer-spin-button,
#grouped-calculator .input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#grouped-calculator .input input[type="number"] {
  -moz-appearance: textfield; }

.yn-toggler {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #98999c;
  border-radius: 5px;
  cursor: pointer;
  max-width: 120px; }

.yn-toggler:before {
  background-image: url(../../img/on.png);
  left: 0; }

.yn-toggler:after {
  background-image: url(../../img/off.png);
  right: 0; }

.yn-toggler:before, .yn-toggler:after {
  position: absolute;
  z-index: 1;
  content: "";
  height: 40px;
  width: 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center; }

.yn-toggler span {
  display: block;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  width: 50%;
  left: 0;
  position: absolute;
  border: 4px solid #f8f8f8;
  background: #a9a9aa;
  border-radius: 8px;
  -webkit-transition: left .2s, background .2s;
  -moz-transition: left .2s, background .2s;
  -ms-transition: left .2s, background .2s;
  -o-transition: left .2s, background .2s;
  transition: left .2s, background .2s;
  z-index: 2; }

.yn-toggler.on span {
  background: #bad739;
  left: 50%; }

#grouped-calculator .cvy_tip_content {
  width: 330px;
  left: calc(50% - 165px); }

#grouped-calculator .insulation {
  margin-top: 90px; }
  @media screen and (max-width: 767px) {
    #grouped-calculator .insulation {
      margin-bottom: 90px !important; } }

#grouped-calculator .features {
  margin-top: 96px; }
  @media screen and (max-width: 767px) {
    #grouped-calculator .features {
      margin-bottom: 36px !important; } }
  @media screen and (min-width: 768px) {
    #grouped-calculator .features {
      margin-top: 60px;
      margin-bottom: 35px; } }

#insulation-slider {
  background: 0 0;
  border: 1px solid #98999c;
  border-radius: 10px;
  box-sizing: border-box; }

#insulation-slider .ui-slider-range {
  background: #bad739;
  width: 50%;
  top: 0;
  height: auto;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#insulation-slider .ui-slider-handle {
  border-radius: 50%;
  border: 1px solid #98999c;
  background: #bad739;
  box-sizing: border-box;
  margin-top: -1px;
  cursor: pointer; }

#insulation-slider .ui-slider-handle:after,
#insulation-slider .ui-slider-handle.average:after {
  content: 'Average';
  position: absolute;
  top: -60px;
  left: -30px;
  line-height: 28px;
  background-size: 100%;
  padding: 8px 11px;
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  height: 52px;
  width: 73px;
  background-image: url(../../img/tooltip.png); }

#insulation-slider .ui-slider-handle.low:after {
  content: 'Low'; }

#insulation-slider .ui-slider-handle.good:after {
  content: 'High'; }

#grouped-calculator .form-row:last-of-type {
  margin-top: 50px; }

#grouped-calculator .submit-input {
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    #grouped-calculator .submit-input {
      flex-direction: row; } }

#grouped-calculator .reset_calculator {
  display: inline-block;
  margin: 20px 0 0 0;
  color: #333333;
  font-size: 0.625rem;
  line-height: 1.2;
  font-weight: 400; }
  #grouped-calculator .reset_calculator i {
    font-size: 12px;
    transform: scaleX(-1);
    margin-right: 4px; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .reset_calculator i {
        font-size: 16px; } }
  @media screen and (min-width: 768px) {
    #grouped-calculator .reset_calculator {
      width: 100%;
      margin: 0 0 0 70px;
      font-size: 0.9375rem;
      line-height: 1.06667;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      position: absolute;
      top: 50%;
      right: -40px;
      transform: translate(100%, -50%); } }

#grouped-calculator .reset_calculator:hover {
  text-decoration: underline; }

.cvy_best_matches_message {
  display: none;
  font-size: 18px; }

.cvy_best_matches_message.cvy_visible {
  display: flex;
  align-items: flex-start;
  padding: 26px 20px;
  background: #fff; }
  @media screen and (min-width: 576px) {
    .cvy_best_matches_message.cvy_visible {
      padding: 54px 60px; } }

.cvy_best_matches_message img {
  width: 60px;
  height: auto; }
  @media screen and (min-width: 576px) {
    .cvy_best_matches_message img {
      width: 76px;
      margin-right: 30px; } }

.cvy_best_matches_message .cvy_highlighted_text {
  font-weight: 700;
  color: #b8cf40; }

.cvy_filter {
  font-size: 16px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700; }

.cvy_filter_title {
  margin-right: 10px; }

.cvy_filter_field {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }

.cvy_filter_field.cvy_hidden {
  display: none; }

.cvy_field_title {
  text-transform: capitalize; }

.cvy_filter .cvy_options_field {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }

.cvy_filter .cvy_filter_option {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer; }

.cvy_filter .cvy_filter_option.cvy_active {
  text-decoration: underline; }

.cvy_filter .cvy_filter_option {
  margin-right: 5px; }

.cvy_filter .cvy_filter_option:not(:last-of-type):after {
  content: "|";
  display: inline-block;
  margin-left: 5px; }

.cvy_radiator_variation_list {
  list-style: none;
  margin: 0; }

.cvy_variation_list_item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  -webkit-box-shadow: 0 8px 17px -8px #000;
  -moz-box-shadow: 0 8px 17px -8px #000;
  box-shadow: 0 4px 20px 0 #00000070;
  border-radius: 4px;
  text-align: center; }

.cvy_variation_list_item.cvy_filtered {
  display: none !important; }

.cvy_variation_list_item.cvy_highlighted {
  border: 2px solid #BAD739; }

.cvy_field_groups {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 100%; }
  @media screen and (max-width: 766px) {
    .cvy_field_groups {
      flex-wrap: wrap;
      text-align: left; } }

.cvy_property_field_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.cvy_radiator_variation_list .cvy_property_field {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  line-height: 1.25; }

.cvy_radiator_variation_list .cvy_property_field:first-of-type {
  line-height: 1.6; }

.cvy_radiator_variation_list .cvy_product_thumbnail {
  width: 70px;
  margin-right: 15px; }

.cvy_type {
  font-size: 15px;
  color: #676767; }

.cvy_wattage {
  font-size: 18px;
  font-weight: 700;
  min-width: 62px; }

.cvy_area_label {
  text-align: right;
  color: #b1b1b1;
  font-size: 16px; }

.cvy_area {
  min-width: 73px;
  padding-right: 7px;
  font-size: 25px;
  font-weight: 700;
  text-align: right;
  line-height: 1; }

.cvy_tip {
  position: relative;
  display: inline-block; }

.cvy_insulation_info {
  position: relative;
  z-index: 1;
  bottom: 2px;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 10px;
  margin: 0 0 0 4px;
  border-radius: 100px;
  background: #e5e5e5;
  font-style: italic;
  color: #585858;
  font-weight: 700; }

#cvy_radiator_variation_list_wrapper .cvy_tip_content, .woo-variation-items-wrapper .cvy_tip_content {
  position: absolute;
  bottom: calc(100% + 18px);
  left: calc(50% - 135px);
  z-index: 0;
  width: 260px;
  padding: 26px 20px 40px;
  opacity: 0;
  transition: .5s;
  background: #E5E5E5;
  border-radius: 0;
  text-align: left; }
  #cvy_radiator_variation_list_wrapper .cvy_tip_content h4, #cvy_radiator_variation_list_wrapper .cvy_tip_content p, .woo-variation-items-wrapper .cvy_tip_content h4, .woo-variation-items-wrapper .cvy_tip_content p {
    text-align: center;
    color: #282828; }
  #cvy_radiator_variation_list_wrapper .cvy_tip_content h4, .woo-variation-items-wrapper .cvy_tip_content h4 {
    margin-bottom: 12px !important;
    font-size: 1.625rem;
    line-height: 1.23077;
    font-weight: 300; }
  #cvy_radiator_variation_list_wrapper .cvy_tip_content p, .woo-variation-items-wrapper .cvy_tip_content p {
    font-size: 14px !important;
    line-height: 20px;
    margin-bottom: 0; }
    @media screen and (min-width: 480px) {
      #cvy_radiator_variation_list_wrapper .cvy_tip_content p, .woo-variation-items-wrapper .cvy_tip_content p {
        font-size: 16px !important; } }

.cvy_tip_content:after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 5px);
  border-top: 14px solid #E5E5E5;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent; }

.cvy_dimensions {
  min-width: 195px;
  font-size: 12px;
  color: #000; }

#product-options .cvy_tip_content h4 {
  font-size: 24px !important;
  margin-bottom: 5px !important;
  font-weight: 700 !important; }

.cvy_tip_content p {
  font-size: 14px !important; }

.cvy_insulation_info:hover + .cvy_tip_content {
  opacity: 1 !important;
  z-index: 2 !important; }

.cvy_radiator_variation_list .cvy_price {
  position: relative;
  bottom: -4px; }
  .cvy_radiator_variation_list .cvy_price del, .cvy_radiator_variation_list .cvy_price .save {
    display: none; }
  .cvy_radiator_variation_list .cvy_price ins {
    text-decoration: none; }
  .cvy_radiator_variation_list .cvy_price .available-on-backorder {
    margin: 0 !important;
    font-size: 12px;
    color: red; }
    .cvy_radiator_variation_list .cvy_price .available-on-backorder strong {
      font-weight: 400; }

.cvy_radiator_variation_list .price span {
  font-size: 24px !important;
  color: #000 !important; }

.cvy_quantity {
  position: relative;
  width: 100px;
  box-sizing: border-box; }

.cvy_quantity input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 0;
  outline: 0;
  color: #777;
  max-width: 100%;
  background: #eee !important;
  border: 1px solid #f2f2f2;
  text-align: center; }

.cvy_input_trigger {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  width: 30px;
  cursor: pointer;
  background: #5e5e5f;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px; }

.cvy_input_trigger.cvy_plus_trigger {
  left: auto;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.cvy_input_trigger.cvy_minus_trigger {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.cvy_radiator_variation_list_footer {
  margin-top: 20px;
  text-align: right; }

.cvy_radiator_variation_list_footer_actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cvy_radiator_variation_list_footer .trustpilot-container {
  overflow: hidden;
  max-width: 320px; }

.cvy_radiator_variation_list_footer .trustpilot-widget {
  width: 680px;
  left: -182px; }

@media screen and (max-width: 767px) {
  #grouped-calculator .form-row {
    flex-direction: column;
    margin-bottom: 25px; }
  #grouped-calculator .form-row > label,
  #grouped-calculator .form-row > .inputs {
    -webkit-flex: auto;
    flex: auto;
    width: 100%; }
  .cvy_filter,
  .cvy_filter .cvy_filter_field {
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center; }
  .cvy_variation_list_item {
    padding: 10px; }
  .cvy_radiator_variation_list .cvy_product_thumbnail {
    width: 50px;
    margin-right: 0; }
  .cvy_radiator_variation_list .cvy_property_field {
    display: block;
    line-height: 1.6; }
  .cvy_variation_list_item .cvy_field_groups {
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    text-align: left;
    margin-left: 10px; }
  .cvy_variation_list_item .cvy_area {
    padding-right: 0; }
  .cvy_variation_list_item .cvy_tip {
    display: none; }
  .cvy_radiator_variation_list_footer_actions {
    flex-wrap: wrap-reverse;
    justify-content: center; }
  .cvy_radiator_variation_list_footer_actions .trustpilot-container {
    margin-top: 40px; } }

#grouped-calculator {
  max-width: 1100px;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    #grouped-calculator .empty-label {
      display: none; } }
  #grouped-calculator .input > label {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .input > label {
        margin-bottom: 30px; } }
    @media screen and (max-width: 479px) {
      #grouped-calculator .input > label {
        font-size: 0.75rem;
        line-height: 1;
        font-weight: 700; } }
    @media screen and (min-width: 768px) {
      #grouped-calculator .input > label {
        text-align: left; } }
    #grouped-calculator .input > label.height-label {
      margin-bottom: 16px; }
  #grouped-calculator .area_formula {
    width: 100%;
    max-width: 600px;
    margin-bottom: 18px; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .area_formula {
        max-width: 450px;
        margin-bottom: 28px; } }
    @media screen and (min-width: 992px) {
      #grouped-calculator .area_formula {
        max-width: 500px; } }
    @media screen and (min-width: 1200px) {
      #grouped-calculator .area_formula {
        max-width: 600px; } }
    #grouped-calculator .area_formula label {
      margin-bottom: 14px; }
    #grouped-calculator .area_formula .input--actions {
      position: relative;
      padding: 0 22px;
      max-width: 80px;
      margin: 0 auto; }
      @media screen and (min-width: 768px) {
        #grouped-calculator .area_formula .input--actions {
          max-width: 98px;
          padding: 0 26px;
          margin: 0; } }
      #grouped-calculator .area_formula .input--actions .increase, #grouped-calculator .area_formula .input--actions .decrease {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 18px;
        font-size: 26px;
        line-height: 34px;
        color: #333333;
        text-align: center;
        cursor: pointer;
        outline: none; }
        @media screen and (min-width: 768px) {
          #grouped-calculator .area_formula .input--actions .increase, #grouped-calculator .area_formula .input--actions .decrease {
            width: 20px;
            font-size: 32px;
            line-height: 50px; } }
        #grouped-calculator .area_formula .input--actions .increase:after, #grouped-calculator .area_formula .input--actions .decrease:after {
          display: none; }
      #grouped-calculator .area_formula .input--actions .decrease {
        left: 0; }
      #grouped-calculator .area_formula .input--actions .increase {
        right: 0; }
      #grouped-calculator .area_formula .input--actions input[type='number'] {
        max-width: 36px;
        height: 39px;
        padding: 0;
        font-size: 1.125rem;
        line-height: 1.55556;
        font-weight: 400;
        color: #333333;
        text-align: center;
        border: none;
        background: #fff;
        outline: none; }
        @media screen and (min-width: 768px) {
          #grouped-calculator .area_formula .input--actions input[type='number'] {
            max-width: 46px;
            height: 50px;
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 400; } }
        #grouped-calculator .area_formula .input--actions input[type='number']:active, #grouped-calculator .area_formula .input--actions input[type='number']:focus {
          outline: 2px solid #B8D048; }
    #grouped-calculator .area_formula .area input[type="number"] {
      max-width: initial;
      min-width: 34px !important;
      padding: 6px;
      height: 39px;
      font-size: 1.125rem;
      line-height: 1.66667;
      font-weight: 400;
      color: #333333;
      text-align: center;
      border: none;
      transition: width 0.1s; }
      @media screen and (min-width: 768px) {
        #grouped-calculator .area_formula .area input[type="number"] {
          min-width: 44px !important;
          height: 50px;
          font-size: 1.5rem;
          line-height: 1.5;
          font-weight: 400; } }
      #grouped-calculator .area_formula .area input[type="number"]:active, #grouped-calculator .area_formula .area input[type="number"]:focus {
        outline: none; }
    #grouped-calculator .area_formula .area .input-area__holder {
      position: relative;
      background-color: #FAE0AF; }
    #grouped-calculator .area_formula .area .input-area__holder--focused {
      outline: 2px solid #B8D048; }
    #grouped-calculator .area_formula .input {
      max-width: 100%;
      width: auto;
      flex: 1; }
  #grouped-calculator .cvy_insulation_info {
    top: -10px;
    bottom: auto; }
    #grouped-calculator .cvy_insulation_info + .cvy_tip_content {
      bottom: calc(100% + 28px); }
      @media screen and (max-width: 375px) {
        #grouped-calculator .cvy_insulation_info + .cvy_tip_content {
          left: calc(50% - 180px); }
          #grouped-calculator .cvy_insulation_info + .cvy_tip_content:after {
            left: calc(50% + 40px); } }

#grouped-calculator .inputs-row {
  width: 100%;
  display: flex; }

#grouped-calculator .input {
  position: relative; }

.inputs-row.cvy_1_field .input {
  width: 100%; }

#grouped-calculator .inputs-row.cvy_2_fields .input {
  width: auto; }
  #grouped-calculator .inputs-row.cvy_2_fields .input:not(:last-child) {
    margin-right: 24px; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .inputs-row.cvy_2_fields .input:not(:last-child) {
        margin-right: 60px; } }

#grouped-calculator .input.area {
  position: relative;
  text-align: center; }
  #grouped-calculator .input.area .validate-area--disabled {
    pointer-events: none; }
  @media screen and (min-width: 768px) {
    #grouped-calculator .input.area {
      text-align: left; } }
  #grouped-calculator .input.area label {
    text-align: center;
    max-width: 71px;
    margin: 0 auto 14px; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .input.area label {
        padding-left: 18px;
        margin: 0 0 14px;
        text-align: left;
        max-width: 94px; } }
  #grouped-calculator .input.area .input-area__block {
    position: relative;
    display: inline-block; }
    #grouped-calculator .input.area .input-area__block span {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      font-size: 1.125rem;
      line-height: 1.66667;
      font-weight: 400; }
      @media screen and (min-width: 768px) {
        #grouped-calculator .input.area .input-area__block span {
          right: 22px;
          font-size: 1.5rem;
          line-height: 1;
          font-weight: 400; } }
      #grouped-calculator .input.area .input-area__block span sup {
        font-size: 0.75rem;
        line-height: 1.66667;
        font-weight: 400; }
    #grouped-calculator .input.area .input-area__block input[type="number"] {
      text-align: right;
      padding: 6px 0 6px 4px;
      margin-right: 36px; }
      @media screen and (min-width: 768px) {
        #grouped-calculator .input.area .input-area__block input[type="number"] {
          margin-right: 50px; } }
  #grouped-calculator .input.area .input-area__manual {
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.625rem;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-decoration: underline;
    white-space: nowrap; }
    @media screen and (min-width: 768px) {
      #grouped-calculator .input.area .input-area__manual {
        top: 50%;
        transform: translate(100%, -50%);
        left: auto;
        right: 0;
        padding-left: 18px;
        font-size: 0.9375rem;
        line-height: 1.2;
        font-weight: 400; } }

#grouped-calculator input[type="number"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333;
  line-height: 28px; }
  @media screen and (min-width: 768px) {
    #grouped-calculator input[type="number"]::-webkit-input-placeholder {
      line-height: 36px; } }

#grouped-calculator input[type="number"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
  line-height: 28px; }
  @media screen and (min-width: 768px) {
    #grouped-calculator input[type="number"]::-moz-placeholder {
      line-height: 36px; } }

#grouped-calculator input[type="number"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #333333;
  line-height: 28px; }
  @media screen and (min-width: 768px) {
    #grouped-calculator input[type="number"]:-ms-input-placeholder {
      line-height: 36px; } }

#grouped-calculator input[type="number"]:-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
  line-height: 28px; }
  @media screen and (min-width: 768px) {
    #grouped-calculator input[type="number"]:-moz-placeholder {
      line-height: 36px; } }

.o-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto; }

.o-popup--orange {
  background-color: #FDF3E0; }

.o-popup__content {
  position: relative;
  padding: 50px 0 90px; }
  .o-popup__content .s-product-compare-sizes {
    padding-top: 0;
    padding-bottom: 0; }
    .o-popup__content .s-product-compare-sizes .s-product-all-features__intro {
      padding-top: 22px;
      margin-bottom: 0; }
      @media screen and (min-width: 576px) {
        .o-popup__content .s-product-compare-sizes .s-product-all-features__intro {
          margin-bottom: 70px; } }
      @media screen and (max-width: 575px) {
        .o-popup__content .s-product-compare-sizes .s-product-all-features__intro .s-product-more-slider__nav-arrow svg {
          height: 20px; } }
      @media screen and (max-width: 575px) {
        .o-popup__content .s-product-compare-sizes .s-product-all-features__intro .s-product-compare-sizes__nav-arrow-fr {
          min-width: 50px;
          text-align: center;
          letter-spacing: 2px; } }
  .o-popup__content.o-popup__content--sizes {
    padding-bottom: 0; }

.o-popup__content--range {
  padding-bottom: 0; }
  .o-popup__content--range .s-product-calculator__help {
    margin: 0;
    padding: 50px 15px 100px; }
    .o-popup__content--range .s-product-calculator__help p {
      margin-bottom: 0; }
    .o-popup__content--range .s-product-calculator__help.is-active {
      background-color: #fff; }

.o-popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer; }
  .o-popup__close:after, .o-popup__close:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 11px;
    height: 16px;
    width: 1px;
    background-color: #000; }
    @media screen and (min-width: 768px) {
      .o-popup__close:after, .o-popup__close:before {
        top: 6px;
        left: 17px;
        height: 22px; } }
  .o-popup__close:after {
    transform: rotate(45deg); }
  .o-popup__close:before {
    transform: rotate(-45deg); }
  @media screen and (min-width: 768px) {
    .o-popup__close {
      width: 36px;
      height: 36px;
      border: 1px solid #000; } }

.o-popup__title {
  margin: 0 auto 40px;
  max-width: 200px;
  font-size: 1.875rem;
  line-height: 1.36667;
  font-weight: 300;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .o-popup__title {
      max-width: 100%;
      margin-bottom: 40px; } }
  @media screen and (min-width: 768px) {
    .o-popup__title {
      font-size: 2.75rem;
      line-height: 1.25;
      font-weight: 300; } }
  @media screen and (min-width: 992px) {
    .o-popup__title {
      margin-bottom: 50px; } }
  @media screen and (min-width: 1024px) {
    .o-popup__title {
      margin-bottom: 74px; } }

.o-popup__calculator .cvy_best_matches_message.cvy_visible {
  max-width: 780px;
  margin: 96px auto 40px;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (min-width: 576px) {
    .o-popup__calculator .cvy_best_matches_message.cvy_visible {
      flex-wrap: nowrap; } }
  @media screen and (min-width: 576px) {
    .o-popup__calculator .cvy_best_matches_message.cvy_visible img {
      min-width: 76px; } }

.o-popup__calculator .cvy_best_matches_message--recommended.cvy_visible {
  margin: 120px 0 40px;
  padding: 0 15px;
  max-width: 100%;
  background: transparent;
  text-align: center; }
  .o-popup__calculator .cvy_best_matches_message--recommended.cvy_visible .cvy_best_matches_message__title {
    margin-bottom: 80px;
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 300;
    color: #333333; }
  .o-popup__calculator .cvy_best_matches_message--recommended.cvy_visible .cvy_best_matches_message__recommended-wattage {
    background: #fff;
    max-width: 470px;
    margin: 0 auto;
    padding: 64px 80px 70px; }
    .o-popup__calculator .cvy_best_matches_message--recommended.cvy_visible .cvy_best_matches_message__recommended-wattage .cvy_wattage_option, .o-popup__calculator .cvy_best_matches_message--recommended.cvy_visible .cvy_best_matches_message__recommended-wattage span {
      font-size: 100px;
      font-weight: 300;
      line-height: 1;
      color: #FC9E4E; }

.o-popup__calculator .cvy_message_content {
  margin-top: 18px;
  font-size: 1.125rem;
  line-height: 1.44444;
  font-weight: 700;
  color: #333333; }
  @media screen and (min-width: 576px) {
    .o-popup__calculator .cvy_message_content {
      margin-top: 0;
      font-size: 1.3125rem;
      line-height: 1.61905;
      font-weight: 700; } }

.o-popup__calculator .cvy_button-calc {
  max-width: 180px;
  width: 100%;
  padding: 14px;
  font-size: 0.625rem;
  line-height: 1.7;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  border-radius: 0;
  border: none;
  background-color: #B8D048;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
  .o-popup__calculator .cvy_button-calc:hover {
    opacity: 0.8; }
  @media screen and (min-width: 768px) {
    .o-popup__calculator .cvy_button-calc {
      width: auto;
      min-width: 158px;
      padding: 16px;
      font-size: 0.875rem;
      line-height: 1.71429;
      font-weight: 400; } }

.o-popup__calculator-products {
  display: none;
  max-width: 760px;
  margin: 0 auto;
  padding-top: 50px;
  /* @include mq(480){
    padding-top: 50px;
  }*/ }
  .o-popup__calculator-products .cvy_add_to_basket_form .cvy_radiator_variation_list .cvy_variation_list_item {
    border-radius: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
    .o-popup__calculator-products .cvy_add_to_basket_form .cvy_radiator_variation_list .cvy_variation_list_item .cvy_input_trigger {
      background-color: #B8D048; }
  .o-popup__calculator-products .cvy_add_to_basket_form .cvy_button {
    border-radius: 0 !important; }
  .o-popup__calculator-products.o-popup__calculator-products--range {
    max-width: 100%;
    background-color: #fff;
    padding-top: 0; }

#trstModal {
  display: flex;
  max-width: 520px;
  border-radius: 30px;
  font-size: 14px;
  color: #333;
  padding: 10px 20px;
  align-items: center;
  width: 100%; }

#trstModal p {
  line-height: 1; }

#trstModal svg {
  display: block;
  max-height: 19px;
  padding-right: 15px; }

@media (max-width: 567px) {
  #trstModal svg {
    padding-right: 8px; }
  #trstModal {
    padding: 7px 10px;
    font-size: 10px; }
  #trstModal #trLogo {
    width: 25%; }
  #trstModal #trStars {
    width: 31%; } }

.cvy_radiator_variation_list_footer_actions .cvy_submit {
  margin-bottom: 20px; }

#trstModal p {
  margin-bottom: 0; }
