/**
 *  Global color variables.
 *	The underscore Never use them directly in the styles, only for functions and mixins.
 */
/**
 *  Organize color variables in a Sass Map.
 *  This way, the colors can be iterated, are more organized, and are more intuitive to reference.
 */
/* ==========================================================================
   Config settings
   ========================================================================== */
/** =====================================================================================
 *  Defines the typographic baseline.
 *  We define every size in pixels, the underlying system converts the
 *  respective units to the responsive REM value.
 ===================================================================================== */
/**
 * Our base font-size and line-height
 */
/**
 *	Here we assign short names for the font families
 */
/* ==========================================================================
 * Font related functions
 * ========================================================================== */
/**
 *  Calculate line-height ratio from font-size and line-height in px value
 */
/**
 *  Mixin for setting font-size in REM through a Sass Map with all available sizes

    USAGE:

    .myClass {
        @include font-size(x-large);
    }

 */
/**
 *	A simple function for accessing the font families from our mapping

	USAGE:

	span {
		@include font-family(primary);
	}

 */
/**
 *  Font mixin for setting font-size, font-weight, and line-height

    USAGE:

    .myClass {
        @include font(x-large, 34, 500);
    }

    .myClass {
      @include font(medium, $weight: 300);
    }

 */
/* Media query mixin for writing Mobile First
 * ========================================== */
/** =====================================================================================
 *  Toolbox functions
 ===================================================================================== */
/**
 *  Maths helpers.
 *  Halve and double numbers, returning rounded integers.

    USAGE:

    .foo {
        padding: halve(30px);
    }

 */
/**
 *  Remove the unit of a length
 *  @param {Number} $number - Number to remove unit from
 *  @return {Number} - Unitless number
 */
/* Check if value is number */
/* Value to Em */
/* Value to Rem */
/**
 *	A simple function for accessing the colors from our mapping
 *	To access colors in our palette, we use a very simple custom Sass function

	USAGE:

	a {
		color: palette(primary);

		&:hover {
			color: palette(primary, 400);
		}
	}

 */
/**
 *	A simple function for setting a consistent box-shadow

	USAGE:

	.card {
		@include box-shadow();
	}

	.card--alt {
		@include box-shadow(low);
	}

 */
/**
 *	A simple function for setting a consistent border-radius

	USAGE:

	.card {
		@include border-radius;
	}

	.card--alt {
		@include border-radius(large);
	}

 */
/**
 * Lobotomized Owl Selector mixin:
 * - Set spacing for consecutive items with margin-top on all but the first item

	USAGE:

	.box {
		@include owl-children;
	}

	.card__item {
		@include owl;
	}

 */
/**
 *  Show hyphens for every browser supporting it
 *  and will break lines in every other browser
 */
/*
 *  Restrict an element to a max-width for creating gutters on the side
 */
/* ==========================================================================
 * Basic elements (no class selectors allowed)
 * ========================================================================== */
/**
 * Set up the html
 *
 * 1. Makes sure that some fonts are better rendered
 * 2. Set font to lining figures
 */
html {
  /*  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "lnum";*/
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400; }
  body .container {
    max-width: 1360px; }
  body.popup-visible {
    overflow: hidden; }

/**
 * [1] Make sure elements like input and textarea inherit some base properties
 *     https://www.smashingmagazine.com/2016/11/css-inheritance-cascade-global-scope-new-old-worst-best-friends/
 *
 * [2] Setting box-sizing the best way per:
 *     https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit; }
  *, *:before, *:after {
    box-sizing: inherit; }

/**
 * [1] Turn off text-shadow when selecting text for better readability
 */
::selection {
  background: #B8D048;
  color: inherit;
  text-shadow: none;
  /* [1] */ }

/* Remove default margin around figure
 */
figure {
  margin: 0; }

/**
 * [1] Setting 'vertical-align' removes the whitespace that appears under 'img'
 *	   elements when they are dropped into a page as-is. Safer alternative to
 *	   using 'display: block;'.
 * [2] Remove border / especially on older browsers
 */
img, svg {
  display: block;
  vertical-align: middle;
  /*[1]*/
  border: none;
  /*[2]*/
  max-width: 100%;
  height: auto; }

a {
  color: #B8D048;
  text-decoration-skip-ink: auto;
  text-decoration: none;
  transition: color 0.2s ease-in-out; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin: 0 0 1em;
  line-height: 1.75; }

table tbody > tr:nth-child(odd) > th {
  background-color: transparent; }

table tbody tr:hover > td, table tbody tr:hover > th {
  background-color: transparent; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #282828; }

h1, .h1 {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    h1, .h1 {
      font-size: 2.1875rem;
      line-height: 1;
      font-weight: 400; } }

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
      line-height: 1.45833;
      font-weight: 400; } }

h4, .entry-content h4 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400; }

/** =====================================================================================
 *  Lists
 ===================================================================================== */
/**
 *	Default indentation value for lists
 */
ul,
ol {
  padding: 0;
  margin: 0;
  margin-left: 0; }

dd {
  margin-left: 0; }

/**
 *	Remove extra vertical spacing when nesting lists.
 */
li {
  list-style-type: none; }
  li > ul,
  li > ol {
    margin-bottom: 0; }

/**
*	list-items needs resetting for our Lobotomized Owl selector
*/
li + li {
  margin-top: 0; }

body .elementor-location-header .header-top-section {
  display: block; }

.elementor-widget-text-editor ul, .elementor-widget-text-editor ol {
  margin-left: 15px; }

.elementor-widget-text-editor ul li {
  list-style-type: disc; }

.elementor-widget-text-editor ol li {
  list-style-type: decimal; }

@media screen and (max-width: 1024px) {
  .header-top-section .col-ham {
    width: 11%; } }

.header-top-section .col-logo {
  width: 48%; }
  .header-top-section .col-logo .elementor-widget-theme-site-logo {
    width: 100%; }
    .header-top-section .col-logo .elementor-widget-theme-site-logo img {
      width: 100%;
      max-width: 145px;
      display: block; }

@media screen and (max-width: 1024px) {
  .header-top-section .col-icon {
    width: 35%; }
    .header-top-section .col-icon .elementor-icon {
      font-size: 18px; }
    .header-top-section .col-icon .mob-icon-basket, .header-top-section .col-icon .mob-icon-tel, .header-top-section .col-icon .mob-icon-search {
      width: 33%;
      max-height: 20px; } }

@media screen and (min-width: 1025px) {
  .header-top-section .col-logo, .header-top-section .col-icon {
    width: 50%;
    font-size: 20px; } }

@media screen and (min-width: 1025px) {
  .header-menu-section .col-menu {
    width: 82%; }
    .header-menu-section .col-menu .elementor-widget-wrap {
      padding: 0; } }

@media screen and (min-width: 1025px) {
  .header-menu-section .col-search {
    width: 18%; } }

.c-product-buttons {
  margin-top: -24px; }

.bg-white {
  background-color: white; }

.c-partners-logos__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.c-partners-logos__item {
  padding: 15px;
  width: 50%; }
  @media screen and (min-width: 768px) {
    .c-partners-logos__item {
      width: auto; } }

.c-partners-logos__item--title {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .c-partners-logos__item--title {
      width: auto;
      flex: 0 0 220px; } }

.c-partners-logos__title {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.08333;
  font-weight: 400;
  color: #989898;
  text-align: center; }
  @media screen and (min-width: 992px) {
    .c-partners-logos__title {
      text-align: left; } }

.c-partners-logos__link {
  display: block; }
  .c-partners-logos__link img {
    margin: 0 auto;
    filter: grayscale(100%); }
    .c-partners-logos__link img:hover {
      filter: grayscale(0); }

.c-partners-logos__img {
  margin: 0 auto;
  filter: grayscale(100%); }
  .c-partners-logos__img:hover {
    filter: grayscale(0); }

#twlRPS {
  max-width: 570px;
  overflow: hidden; }

#twlRPS .trustpilot-widget {
  width: 880px;
  left: -248px; }

#sp_temp-trust #twlRPS {
  width: 850px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  margin-left: calc(-44% + 3px); }

.product_cat-accessories #sp_temp-trust #twlRPS {
  margin-left: calc(-41% + 3px); }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #sp_temp-trust #twlRPS {
    width: 640px !important; }
  #s_menu-col2 #twlRPS {
    max-width: 300px !important;
    margin: 0 auto !important; }
  #s_menu-col2 #twlRPS .trustpilot-widget {
    width: 650px;
    left: -180px; } }

@media screen and (max-width: 991px) {
  #s_menu-col2 #twlRPS {
    max-width: 300px !important;
    margin: 0 auto !important; }
  #s_menu-col2 #twlRPS .trustpilot-widget {
    width: 650px;
    left: -180px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #sp_temp-trust #twlRPS {
    width: auto !important;
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  #sp_temp-trust #twlRPS {
    width: 100% !important;
    display: block !important;
    margin: 10px 0 !important; }
  #sp_temp-trust #twlRPS .trustpilot-widget {
    width: auto;
    left: auto; } }

@media screen and (min-width: 480px) and (max-width: 639px) {
  #twlRPS .trustpilot-widget {
    width: 300px;
    left: -35px; } }

@media screen and (max-width: 479px) {
  #twlRPS .trustpilot-widget {
    width: 300px;
    left: -35px; } }

.swiper-custom.swiper-container-initialized {
  overflow: hidden; }
  .swiper-custom.swiper-container-initialized .swiper-pagination {
    position: static; }
  .swiper-custom.swiper-container-initialized .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #101b1f;
    opacity: .2; }
  .swiper-custom.swiper-container-initialized .swiper-pagination-bullet-active {
    background-color: #6d6e71;
    opacity: 1; }

@media screen and (min-width: 1400px) {
  .JS--menu-ranges-slider .swiper-pagination {
    display: none; } }

.o-product-top .c-gallery__wrap .swiper-button-prev, .o-product-top .c-gallery__wrap .swiper-container-rtl .swiper-button-next, .o-product-top .c-gallery__wrap .swiper-button-next, .o-product-top .c-gallery__wrap .swiper-container-rtl .swiper-button-prev {
  background-image: none !important; }
  @media screen and (max-width: 766px) {
    .o-product-top .c-gallery__wrap .swiper-button-prev, .o-product-top .c-gallery__wrap .swiper-container-rtl .swiper-button-next, .o-product-top .c-gallery__wrap .swiper-button-next, .o-product-top .c-gallery__wrap .swiper-container-rtl .swiper-button-prev {
      display: none !important; } }

.swiper-slide-inner .second-image {
  position: absolute; }

.swiper-slide-inner .slide-body {
  position: relative; }
  .swiper-slide-inner .slide-body .main-image {
    display: flex; }
    .swiper-slide-inner .slide-body .main-image img {
      /*width: 100%;*/ }

.second-st-image img {
  box-shadow: 0 10px 10px 0 #00000028; }

.swiper-custom.swiper-container-initialized .swiper-pagination-bullet {
  margin: 5px; }

.fancybox-container .fancybox-button {
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50%;
  margin: 10px; }

#cvy_reel_image .fancybox-button {
  color: #0d0d0d;
  border: none; }
  #cvy_reel_image .fancybox-button:focus-visible, #cvy_reel_image .fancybox-button:focus {
    outline: none; }

#respond #commentform {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  #respond #commentform .comment-form-comment {
    width: 100%; }
    #respond #commentform .comment-form-comment label {
      display: none; }
    #respond #commentform .comment-form-comment #comment {
      width: 100%; }
  #respond #commentform .comment-form-author label, #respond #commentform .comment-form-email label, #respond #commentform .comment-form-url label {
    display: block; }
  #respond #commentform .comment-form-comment, #respond #commentform .comment-form-author, #respond #commentform .comment-form-email, #respond #commentform .comment-form-url, #respond #commentform .comment-notes {
    padding: 0 10px; }
  #respond #commentform .comment-form-author, #respond #commentform .comment-form-email, #respond #commentform .comment-form-url {
    width: 100%; }
    @media screen and (min-width: 768px) {
      #respond #commentform .comment-form-author, #respond #commentform .comment-form-email, #respond #commentform .comment-form-url {
        width: 33.33%; } }
    #respond #commentform .comment-form-author input, #respond #commentform .comment-form-email input, #respond #commentform .comment-form-url input {
      display: block;
      width: 100%;
      border: 1px solid #333333;
      border-radius: 4px !important;
      padding: 12px;
      font-size: 13px;
      line-height: 17px;
      background-color: #fff;
      color: #818181;
      font-family: Raleway,serif !important;
      font-weight: 400;
      height: 50px;
      outline: 0;
      margin-bottom: 0 !important; }
  #respond #commentform .form-submit {
    width: 100%;
    padding: 0 10px;
    text-align: right; }
    #respond #commentform .form-submit .submit {
      border: 2px solid #b8cf40;
      font-size: 16px;
      font-weight: 700;
      background: #b8cf40;
      height: 39px;
      line-height: 36px;
      padding: 0 18px;
      color: #fff;
      border-radius: 10px;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      cursor: pointer; }
      #respond #commentform .form-submit .submit:hover {
        opacity: 0.8; }

.o-footer__newsletter {
  position: relative;
  overflow: hidden; }
  .o-footer__newsletter:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 50%;
    width: 100%;
    background: #fff; }

.newsletter-wrapper {
  display: flex;
  flex-wrap: wrap; }

.newsletter-email {
  width: auto;
  flex-grow: 1;
  margin-bottom: 20px; }

@media screen and (min-width: 440px) {
  .newsletter-email {
    padding-right: 20px;
    margin-bottom: 0; } }

.newsletter-email label {
  display: none; }

.newsletter-email input {
  background-color: #F7F7F7;
  font-size: 16px;
  min-height: 47px;
  padding: 6px 16px;
  width: 100%;
  border: 1px solid #CCC;
  color: #373a3c;
  vertical-align: middle;
  -webkit-box-flex: 1;
  flex-grow: 1; }

.newsletter-terms {
  position: relative;
  margin: 12px 0 0; }

.newsletter-terms input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  z-index: -333;
  opacity: 0; }

.newsletter-terms label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  max-width: 480px;
  font-size: .875rem;
  line-height: 1.21429;
  font-weight: 300;
  color: #6d6e71; }

.newsletter-terms label:hover {
  cursor: pointer; }

.newsletter-terms label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #f7f7f7; }

.newsletter-terms label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  display: block;
  width: 14px;
  height: 13px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC4wMDIiIGhlaWdodD0iMTMuMDY4IiB2aWV3Qm94PSIwIDAgMTQuMDAyIDEzLjA2OCI+DQogIDxwYXRoIGlkPSJQYXRoXzQzOCIgZGF0YS1uYW1lPSJQYXRoIDQzOCIgZD0iTTIxOS45NzksMzIuMzU2bDMuNzM0LDUuMTM0LDEwLjI2OC0xMy4wNjlMMjIzLjcxMywzMy4yOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMTkuOTc5IC0yNC40MjIpIiBmaWxsPSIjMjgyODI4Ii8+DQo8L3N2Zz4NCg==);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity .2s ease-in-out; }

.newsletter-terms input[type=checkbox]:checked + label:after {
  opacity: 1; }

.newsletter-submit {
  width: 100%; }

@media screen and (min-width: 440px) {
  .newsletter-submit {
    width: auto; } }

.newsletter-submit input {
  min-height: 47px;
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 0px 16px 0px 16px; }
