.s-product-summary {
  padding: 10px 0 15px;
  @include mq(480){
    padding: 35px 0 40px;
  }
}


.s-product-summary__overview {
  margin-bottom: 36px;
  @include mq(992) {
  margin-bottom: 0;
  }
}

.s-product-summary__overview-content {

  @include font(base, 22, 400);
  color: palette(text, 600);
  @include mq(480) {
    @include font(mid, 28, 400);
  }
  @include mq(992) {
    max-width: 390px;
    @include font(m-mid-large, 34, 400);
  }

  p {
    font-size: inherit;
    line-height: inherit;
  }
}

.s-product-summary__title {
  margin-bottom: 16px;
  @include font(m-mid-large, 30, 700);
  color: palette(text, 600);
  @include mq(480){
    @include font(s-large, 32, 700);
  }
  @include mq(992) {
    margin-bottom: 36px;
  }
}

.s-product-summary__features {
  @include mq(992) {
    padding-left: 20px;
  }
  @include mq(1024) {
    padding-left: 40px;
  }
  @include mq(1200) {
    padding-left: 72px;
  }
}


.s-product-summary__btn {
  margin-top: 36px;
  text-align: center;
  @include mq(480){
    margin-top: 52px;
  }
}