
.icon-100%-silent:before { content: '\e800'; } /* '' */
.icon-add-multiple-users:before { content: '\e801'; } /* '' */
.icon-anti-frost-mode:before { content: '\e802'; } /* '' */
.icon-away-from-home-detection:before { content: '\e803'; } /* '' */
.icon-baby-care-function:before { content: '\e804'; } /* '' */
.icon-blended-heat-delivery:before { content: '\e805'; } /* '' */
.icon-colours:before { content: '\e806'; } /* '' */
.icon-compare-sizes:before { content: '\e807'; } /* '' */
.icon-connect-home-assistant:before { content: '\e808'; } /* '' */
.icon-connect-radiators:before { content: '\e809'; } /* '' */
.icon-easily-identify-radiators:before { content: '\e80a'; } /* '' */
.icon-easily-identify-radiators_1:before { content: '\e80b'; } /* '' */
.icon-easy-copy-schedule:before { content: '\e80c'; } /* '' */
.icon-eu-manufactured:before { content: '\e80d'; } /* '' */
.icon-european-lot20-compliant:before { content: '\e80e'; } /* '' */
.icon-hidden-front-vent:before { content: '\e80f'; } /* '' */
.icon-high-quality-aluminium-body:before { content: '\e810'; } /* '' */
.icon-individually-wifi-controlled:before { content: '\e811'; } /* '' */
.icon-instant-heat:before { content: '\e812'; } /* '' */
.icon-intelligent-temperature-control-system:before { content: '\e813'; } /* '' */
.icon-longer-lasting-heat:before { content: '\e814'; } /* '' */
.icon-longlife-timer-battery:before { content: '\e815'; } /* '' */
.icon-maximum-energy-efficiency:before { content: '\e816'; } /* '' */
.icon-lower-energy-bills:before { content: '\e817'; } /* '' */
.icon-oil-filled-or-ceramic-core:before { content: '\e818'; } /* '' */
.icon-open-window-detection:before { content: '\e819'; } /* '' */
.icon-pre-set-or-custom-programmes:before { content: '\e81a'; } /* '' */
.icon-precision-temperature-sensor:before { content: '\e81b'; } /* '' */
.icon-protection-from-overheating:before { content: '\e81c'; } /* '' */
.icon-quick-&-easy-installation:before { content: '\e81d'; } /* '' */
.icon-quick-access-side-panel:before { content: '\e81e'; } /* '' */
.icon-quick-glance-energy-meter:before { content: '\e81f'; } /* '' */
.icon-radiator-ranges:before { content: '\e820'; } /* '' */
.icon-see-all-features:before { content: '\e821'; } /* '' */
.icon-simple-usb-connection:before { content: '\e822'; } /* '' */
.icon-size-options:before { content: '\e823'; } /* '' */
.icon-ultra-slim-design:before { content: '\e824'; } /* '' */
.icon-unlimited-connectivity:before { content: '\e825'; } /* '' */
.icon-top-control-panel:before { content: '\e826'; } /* '' */
.icon-wall-discolouration-protection:before { content: '\e827'; } /* '' */
.icon-unlimited-daily-settings:before { content: '\e828'; } /* '' */
.icon-wall-mounted-or-freestanding:before { content: '\e829'; } /* '' */
.icon-wattages:before { content: '\e82a'; } /* '' */
.icon-unlimited-connectivity-2:before { content: '\e82b'; } /* '' */
.icon-see-historic-power-consumption:before { content: '\e82c'; } /* '' */
.icon-true-radiant-mode:before { content: '\e82d'; } /* '' */
.icon-toilet-bathroom:before { content: '\e82e'; } /* '' */
.icon-height-extra-high:before { content: '\e82f'; } /* '' */
.icon-height-high:before { content: '\e830'; } /* '' */
.icon-attic-room:before { content: '\e831'; } /* '' */
.icon-bedroom:before { content: '\e832'; } /* '' */
.icon-conservatory:before { content: '\e833'; } /* '' */
.icon-dining-room:before { content: '\e834'; } /* '' */
.icon-garden-office:before { content: '\e835'; } /* '' */
.icon-general-living-space:before { content: '\e836'; } /* '' */
.icon-height-low:before { content: '\e837'; } /* '' */
.icon-hallway:before { content: '\e838'; } /* '' */
.icon-height-standard:before { content: '\e839'; } /* '' */
.icon-kitchen:before { content: '\e83a'; } /* '' */
.icon-living-room:before { content: '\e83b'; } /* '' */
.icon-porch:before { content: '\e83c'; } /* '' */
.icon-24-7:before { content: '\e83d'; } /* '' */
.icon-home-assistant:before { content: '\e83e'; } /* '' */
